body{
    background: linear-gradient(to bottom right,#001a50 ,rgb(179, 255, 0)) ;
    font-family: Calibri, Helvetica, sans-serif;
}
a{
    
    text-decoration:none;
    float: center;
}
#proceed{
    padding: 8px 20px 6px 20px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 20px;
    border-color:#001a50 ;
    cursor: pointer;
    width: 160px;
    background-color: rgb(179,255,0);
    color: #001a50;
    box-shadow: 0 0 15px #001a50;
    margin: 25px 0px;
}


#can{
    
    display:flex;
    align-items:center;
    justify-content:center;
    

}
#webcam{
    float:right;
    border: 8px solid #0b2f7e;
    

}
.box1{
    color: rgb(179,255,0);
    font-style: bold;
    display: flex;
    flex-direction:column;
    padding: 50px;
    width:400px;
    align-items: center;
    justify-content: center;
}
.cont{
    display: flex;
}
.box2{
    padding:100px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.big_cont{
    display: flex;
    align-items: center;
    justify-content:center;
}
.pp{
    font-size: 22px;
    font-weight: bolder;
    margin: 25px 0px;
}
#canvas{
    display:none;
}
#std{
    font-size: 30px;
    margin:25px 0px;
    color: white;
    font-weight: bold;

}
input{
    border-radius: 5px;
    border: none;
    height: 30px;
}

#reset{
    display: none;
}
.cam{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

#snap{
    padding: 8px 20px 6px 20px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 20px;
    cursor: pointer;
    width: 120px;
    border-color:#001a50 ;
    background-color: rgb(179,255,0);
    color: #001a50;
    box-shadow: 0 0 15px #001a50;
    margin: 25px 0px;
}
#canvas{
    float:right;
    border: 8px solid #0b2f7e;
}

#reset{
    padding: 8px 20px 6px 20px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 20px;
    cursor: pointer;
    width: 160px;
    border-color:#001a50 ;
    background-color: rgb(179,255,0);
    color: #001a50;
    box-shadow: 0 0 15px #001a50;
    margin: 25px 0px;
}

