{% load static %}
{% url 'web_interface:image_request' %}
{% url 'web_interface:index' %}

<!DOCTYPE html>
<html lang="en">  
<head>  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link href="{% static 'admin_style.css' %}" rel="stylesheet">  
    <title>Candidate Registration Form</title>
</head>
<body>
    <div class="container">
        <h1 style="text-align: center;">Candidate Registration Form</h1>
        <hr>
        <div class="register">
            {% if submitted %}
                <div style="text-align: center;">
                    <h2>Your entry was submitted successfully</h2> <br>
                    <a href="{% url 'web_interface:image_request' %}" style="color: white; text-decoration: none;">Fill Another Form</a>
                    <br><br>
                    <a href="{% url 'web_interface:index' %}" style="color: white; text-decoration: none;">Return To Home Page</a>
                    <br><br> 
                    <a href="/admin/web_interface/student/" style="color: white; text-decoration: none;">See Candidate Database</a>
                </div>
            {% else %}
                <form method="POST" enctype="multipart/form-data" href="{% url 'web_interface:image_request' %}" action="{% url 'web_interface:image_request' %}">
                    {% csrf_token %}
                    <table>
                        <tr class="abc">
                            <td class="l1">Firstname</td>
                            <td class="form">{{ form.firstname }}</td>
                        </tr>
                        <tr class="abc">
                            <td class="l1" >Middlename</td>
                            <td class="form">{{ form.middlename }}</td>
                        </tr>
                        <tr class="abc">
                            <td class="l1">Lastname</td>
                            <td class="form">{{ form.lastname }}</td>
                        </tr>
                        <tr class="abc">
                            <td class="l1">Roll No</td>
                            <td class="form">{{ form.rollno }}</td>
                        </tr>
                        <tr class="abc">
                            <td class="l1">Image (Format : rollno.png)</td>
                            <td class="form">{{ form.image }}</td>
                        </tr>
                    </table>
                    <button type="submit" class="registerbtn">Register</button>
                </form>
            {% endif %}
        </div>
    </div>
</body>
</html>